{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
<head>
  <title>Mexican Drug Lord Escapes From Maximum Security Prison — Again</title>
  {% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/maps.scss' %}" />
  {% endcompress %}
</head>
{% endblock %}

{% block body %}

  <!-- START HEADER AND NAV -->
  <div class="mt4 mb3 clearfix wrapper mx-auto flex-end">
      <a href="http://www.facebook.com/buzzfeednews" class="col col-3 mr3" rel:gt_act="share/facebook/like">
        <img src="{% static 'images/logos/svgs/buzzfeed-news-full.svg' %}" width="300" />
      </a>
      <a href="#" class="mb01">
        <span class="mr1 caps">Buzz</span>
        <span class="mr1 caps">News</span>
        <span class="mr1 caps">Life</span>
      </a>
      <div class="flex-1">
        <a href="#" class="float-right">
          <svg viewBox="0 0 512 512" class="icon-user pt2">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user"></use>
          </svg>
        </a>
        <a href="#" class="float-right">
          <svg viewBox="0 0 512 512" class="icon-user mr4 pt2">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
          </svg>
        </a>
      </div>
  </div>

  <div class="prototype-news__header mx-auto">
      <div class="prototype-news mx-auto mt2 py2 text-white">
        <ul class="bold letter-space clearfix list-unstyled">
          <li class="inline"><a href="#" class="pr3 news-nav-li text-white">World</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">Politics</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">LGBT</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">Science</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">Business</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">Tech</a></li>
          <li class="inline"><a href="#" class="px3 news-nav-li text-white">Ideas</a></li>
        </ul>
      </div>
  </div>
<!-- END HEADER AND NAV -->

  <div class="wrapper mx-auto my3">  

  
  <div class="col col-8">

    <!-- title, dek, timestamp -->
    <div class="p1 fill-gray text-white bold caps type-6 inline-block">World</div>
    <h2 class="type-1 slab mt2">Mexican Drug Lord Escapes From Maximum Security Prison — Again</h2>
    <p class="type-3 my2">It’s the second time Joaquín “El Chapo” Guzmán has escaped a maximum security facility in Mexico. BuzzFeed News reporter Karla Zabludovsky is in Mexico City.</p>
    <p class="type-6 text-gray--lightest">Originally posted on Jul. 12, 2015, at 5:05 a.m.</p>
    <p class="type-6 text-gray--lightest mb4">Updated on Jul. 12, 2015, at 2:18 p.m.</p>
 
    <!-- author byline -->
    <div class="col col-3 mr2">
      <div class="float-left pr1"><a href="#"><img class="byline_avatar-size circle" src="http://s3-ak.buzzfeed.com/static/2015-07/4/17/user_images/webdr04/felipearaujo-v2-20406-1436044708-0_large.jpg"></a></div>
      <div class="col col-9">
        <div class="col col-12 type-6 bold"><a href="#">By Felipe Araujo</a></div>
        <div class="col col-12 type-6 text-gray-lightest">BuzzFeed News Reporter</div>
      </div>
    </div>

    <!-- geography byline -->
    <div class="col col-6">
      <div class="float-left pr1"><img class="byline_map-size light-border" src="http://s3-ak.buzzfeed.com/static/2015-03/17/10/enhanced/webdr04/dateline-31102-1426604099-34.png"></div>
      <div class="col col-7">
        <div class="col col-7 type-6 text-gray-lightest">Reporting from Mexico City, Mexico</div>
      </div>
    </div>

    <!-- share bar -->
    <div class="col col-12 my3"><img src="https://dl.dropboxusercontent.com/u/2085664/BuzzFeed/sharebar.png" alt=""></div>
  
  </div>
    

  {% endblock %}

