{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
<head>
  <title>Mexican Drug Lord Escapes From Maximum Security Prison — Again</title>
  {% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/maps.scss' %}" />
  {% endcompress %}
</head>
{% endblock %}

{% block body %}

<div class="clearfix full-width p2">
  <a href="#" class="float-left">
    <img class="col col-3" src="{% static 'images/logos/svgs/buzzfeed-full.svg' %}" width="300" />
  </a>
  <img src="http://s3-ak.buzzfeed.com/static/2015-05/8/15/user_images/webdr13/emilybrick-v2-29138-1431115121-28.jpg" alt="" class="float-right circle">
</div>

<div class="fill-orange p1 text-white text-center caps">DRAFT POST</div>

<div class="fill-gray--lighter p2 clearfix">
  <a class="button button--primary col md-col-1 sm-col-2 float-left" href="">Save</a>
  <div class="float-right">
    <a class="button button--secondary" href="">Preview</a>
    <a class="button button--secondary" href="">Queue Post</a>
    <a class="button button--primary" href="">Publish Now</a>
  </div>
</div>

<div class="py4 clearfix">
  <div class="col col-7 pr4 offset-1">
    <a href="#" class="type-3 link-gray bold mr2">Standard</a>
    <a href="#" class="type-3 bold mr2">US Home</a>
    <a href="#" class="type-3 bold mr2">UK/AU Home</a>
    <div class="float-right type-6 mt2">
      <span class="text-gray--lighter mr1">Sort Mode: Off</span>
      <span class="text-gray--lighter">Helper Mode: On</span>
    </div>
  </div>


  <div class="col col-4">
    <img src="https://dl.dropboxusercontent.com/u/2085664/Screenshot%202015-07-15%2008.52.54.png" alt="">
  </div>
</div>


{% endblock %}