{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block head %}
<head>
  <title>Map</title>
  {% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/maps.scss' %}" />
  {% endcompress %}
</head>
{% endblock %}

</script>
{% block body %}
  <script type="text/javascript">
    Mapper.map_id = {{map_id}}
    Mapper.page = "mapEditor"
  </script>

  <div class="col col-12 my3">
    <a class="edit-map-btn button button--primary col md-col-2">Edit this Map</a>
    <a id="savePublishBtn" class="hide button button--primary col md-col-2">Save and Publish</a>
    <a id="cancelEditMapBtn" class="hide button button--secondary col md-col-2">Cancel</a>
  </div>

{% include "map-creator.html" %}

{% endblock %}
