.prototype-news__header{
  background-color: #222;
  width: 100%;
}

.prototype-news, .wrapper {
  max-width: 1200px;
}

.byline_avatar-size, .byline_map-size {
  width: 34px;
  height: 34px; 
}

.border-light {
  border: 1px solid #DFDFDF;
}

.news-nav-li {
  &:hover {
    color: #e32;
    transition: color 0.1s ease 0s;
  }
}

.letter-space {
  letter-spacing: .05rem;
}


// These are the social button styles pulled from waffle 

.connect-widget__button {
  display: block;
  color: #fff;
  padding: 15px 20px;
  font-weight: 400;
  line-height: 30px;
  &:hover {
    transition: background-color 0.3s ease 0s;
  }
}

.connect-widget__btn-svg {
  fill: #fff;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.btn--facebook {
  background: #3b5998;
  box-sizing: border-box;
  box-shadow: none;
  &:hover {
    background: #344e86;
    color: #fff;
  }
}

.btn--instagram {
  background: #517fa4;
  &:hover {
    background: darken(#517fa4, 5%);
    color: #fff;
  }
}

.twitter-placeholder {
  height: 480px;
}


// had way too much trouble horizontally centering an inline ul. can we add something to solid for this? i can imagine horizontal li's aren't an edge case
.ul--flex {
  display: -webkit-flex;
  justify-content: center;
}

// flex for nav to align on the baseline with inline-block

.flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-1 {
  flex: 1;
}

// svg logos


.bf-news-logo {
    display: block;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

.icon-user-avatar {
  width: 30px;
  display: block;
  height: 30px;
  margin: 0 auto;
}

.bf-news-logo__news {
  fill: #e32;
}

.icon-user {
  width: 20px;
}


// hack margin 
.mb01 {
  margin-bottom: 1px;
}




