{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
<head>
  <title>Mexican Drug Lord Escapes From Maximum Security Prison — Again</title>
  {% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/maps.scss' %}" />
  {% endcompress %}
</head>
{% endblock %}

{% block body %}
<div class="mx-auto p2 wrapper">
  <div class="col md-col-8 xs-col-12">
    <h1 class="bold my2">Maps Hub</h1>
    <p>Quisque laoreet porttitor est ac convallis. In molestie est vel tristique ultrices. Donec condimentum, metus ut facilisis commodo, ligula massa ultricies velit, sed mollis felis urna id est. Vivamus vehicula rhoncus mi vel imperdiet. Duis eu finibus nisl, pellentesque facilisis neque. </p>
  </div>

  <div class="col col-12 my3">
    <a id="createNewMapBtn" class="button button--primary col md-col-2">Create A New Map</a>
    <a id="savePublishBtn" class="hide button button--primary col md-col-2">Save and Publish</a>
    <a id="cancelMapBtn" class="hide button button--secondary col md-col-2">Cancel</a>
  </div>

  <div id='map-creator' class="hide" style="width:100%;">
  <div class="clearfix pb4  border-bottom">
    <div class="col md-col-6 xs-col-12 pr3">
      <label class="form-label">Title</label>
      <input type="text" placeholder="Enter the title of your map" class="mb4 text-input block col-4 xs-col-12">
    </div>

    <div class="col md-col-6 xs-col-12">
      <label class="form-label">Notes</label>
      <input type="text" placeholder="Notes about the data, source, etc" class="text-input block col-4 xs-col-12">
    </div>

    <div class="col col-12 mb2">
      <h4 class="bold">Pin Locations</h4>
      <p class="col md-col-6 xs-col-12 pr3">To create pinpoints on the map, pan and zoom to the area you want to map. Click to select a pin and add the corresponding text to appear in the tooltip.</p>
    </div>


    <div class="col md-col-6 xs-col-12 pr3">
      <div class="full-width mb3 border-light">
        <div id="map"></div>
      </div>
      <label class="form-label"><span class="regular text-gray--lightest mr1">Pin 1(<span id='markerLat'></span> ,
    <span id='markerLng'></span>)</span></label>
      <input type="text" placeholder="Enter the description for pinpoint location" class="mr1 text-input col col-8">
      <button class="button button--primary">Add Pin</button>
      <button class="button button--secondary">Cancel</button>
    </div>


    <div class="col md-col-6 xs-col-12 type-5 p3 border rounded">

      <div class="col col-12 border-bottom pb2 mb2 display-flex">
        <div class="mr3 flex-1">
          <p><span class="text-gray--lightest mr1">Pin 1</span>(40.748441, -73.985664)</p>
          <p class="mt1">Vivamus vehicula rhoncus mi vel imperdiet. Duis eu finibus nisl, pellentesque facilisis neque. </p>
        </div>
        <div class="vertical-center">
          <a href="#">Edit</a><span class="mx1">|</span><a href="#">Delete</a>
        </div>
      </div>

      <div class="col col-12 border-bottom pb2 mb2 display-flex">
        <div class="mr3 flex-1">
          <p><span class="text-gray--lightest mr1">Pin 1</span>(40.748441, -73.985664)</p>
          <p class="mt1">Vivamus vehicula rhoncus mi vel imperdiet. Duis eu finibus nisl, pellentesque facilisis neque. </p>
        </div>
        <div class="vertical-center">
          <a href="#">Edit</a><span class="mx1">|</span><a href="#">Delete</a>
        </div>
      </div>

      <div class="col col-12 display-flex">
        <div class="mr3 flex-1">
          <p><span class="text-gray--lightest mr1">Pin 1</span>(40.748441, -73.985664)</p>
          <p class="mt1">Vivamus vehicula rhoncus mi vel imperdiet. Duis eu finibus nisl, pellentesque facilisis neque. </p>
        </div>
        <div class="vertical-center">
          <a href="#">Edit</a><span class="mx1">|</span><a href="#">Delete</a>
        </div>
      </div>

    </div>

  </div>
</div>



</div>

{% endblock %}


